<% sub_id ||= 0 %>
<form action="<%= url %>" method="POST">
  <input type="hidden" value="<%= method %>" name="_method">
  <%= auth_token %>

    <% Sub.all.each do |sub| %>
        <label><%= sub.title %>
          <input type="checkbox" name="post[sub_ids][]" id="<%= sub.id %>"
                 <%= "checked" if sub_id == sub.id %>>
        </label>
    <% end %>

  <p>
    <label>Title:
      <input type="text" name="post[title]" value="<%= post.title %>">
    </label>
  </p>

  <p>
    <label>URL:
      <input type="text" name="post[url]" value="<%= post.url %>">
    </label>
  </p>

  <p>
    <label>Content:
      <textarea name="post[content]"><%= post.content %></textarea>
    </label>
  </p>

  <p>
    <button value="submit">Submit</button>
  </p>
</form>
