<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if logged_in? %>
    welcome, <%= current_user.email %>!
      <form action="<%= session_url %>" method="POST">
        <%= auth_token %>
        <input type="hidden" name="_method" value="DELETE">
        <button value="submit">log out</button>
      </form>
  <% else %>
    <a href="<%= new_session_url %>">Log in</a> |
    <a href="<%= new_user_url %>">Sign up</a> |
  <% end %>
<a href="<%= subs_url %>">All Subs!</a>
<hr>
  <%= yield %>

</body>
</html>
